@charset "UTF-8";

*{padding: 0px;
margin: 0px;


font-family: Arial, Helvetica, sans-serif;}

body{background:url(../imgs/nathan-dumlao-tA90pRfL2gM-unsplash.jpg);
background-position:center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;}

header {
    width: 100%;
    background: rgba(255, 255, 255, 0.37);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.8px);
-webkit-backdrop-filter: blur(7.8px);
position: fixed;}


header h1{text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 3px solid black;
    
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
padding-top: 5px;
padding-bottom: 5px;
color: whitesmoke;}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    list-style: none;
    padding: 20px;

}

header nav ul li a{text-decoration: none;
font-size: 1.5em;
color: #000000;
transition: 0.5s;}

header nav ul li a:hover{color:#7f4a44 }


main{height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    }


main .filtro{text-align: center;
    margin-top: 150px;
}

main .filtro button{background-color: #7f4a44;
border-radius: 10px;
border: none;
padding: 10px;
font-size: 1.2em;
cursor: pointer;
margin-left: 50px;
}




main .cardapio{display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

main .cardapio .todo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
background: rgba(49, 43, 43, 0.74);
color: white;

margin-left: 50px;
margin-bottom: 50px;
}

main .cardapio img{width: 200px;
height: 200px;
}

main .cardapio .Sobre button{
    background: none;
    border: 0px;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}





@media screen and (max-width:1200px) {
    header nav ul{display: none;}

    header h1{margin-bottom: 25px;
    border: none;}

    

    main .filtro button{margin-bottom: 30px;
    margin-left: 50px;}
}





